
@{
    ViewBag.Title = "Sobre nós:";
   
}



<body style="background-color: beige; font-family: Verdana, Arial;">
    <link href="~/Content/Login.css" rel="stylesheet" type="text/css" />
    <img src="~/Images/bit_bear.png" alt="Avatar" height="455" width="1128">

    <p>
        <font size="4">
            A <strong> bit_Bear</strong> é  uma  pequena  empresa  do  norte  de  Portugal,  que  se
            dedica ao desenvolvimento de software. Até agora, devido a várias limitações,
            apenas  desenvolvia   para  outras   empresas,   no  entanto   a   equipa  decidiu
            desenvolver um projeto próprio de limpeza de habitações.
            A  ideia  aparece,  muito  devido  ao  facto  de  vários  constituintes  desta
            equipa  terem  terminado  há  pouco  tempo  os  estudos,  e  consequentemente,
            começado  a  viver sozinhos.  Não  tendo muito  tempo para  limpezas,  começa a
            surgir o pensamento de onde poderiam arranjar alguém para o fazer por eles.
            Em  conversa,  reparam  na  dificuldade  que  existe  em  arranjar  alguém  para  o fazer, sendo que este é um negócio que se encontra um pouco anacrónico.
            Assim surge a ideia de desenvolver a Nimbus24, uma  aplicação  cujo objetivo  é  facilitar  ao  utilizador,  o  encontro  de  um  profissional  de  limpeza,  e a
            estes um sítio onde pode ser divulgada a sua oferta de trabalho nesta área.
            Nos tempos que correm, as pessoas têm cada vez menos tempo livre, e disposição para o gastar, assim sendo, o que nós procuramos é disponibilizar um serviço rápido, fácil e fiável para limpeza de habitações.
        </font>
    </p>
</body>