
@{
    ViewBag.Title = "Contactos";
}

<body style="background-color: beige; font-family: Verdana, Arial;">

    <div align="center">
        <img src="~/Images/bit.png" alt="Avatar" style="width:30%">
    </div>
    <h2>Contactos</h2>
    <p>Filipe Fortunato: Mail-> a75008@alunos.uminho.pt --> <a href="https://github.com/elpaquito30">GitHub</a></p>
    <p>José Sousa: Mail-> a74678@alunos.uminho.pt --><a href="https://github.com/jsousa127/">GitHub</a></p>
    <p>João Mourão: Mail-> a75064@alunos.uminho.pt --><a href="https://github.com/45Yoda">GitHub</a></p>
    <p>Diogo Soares: Mail-> a74478@alunos.uminho.pt --><a href="https://github.com/diogo55">GitHub</a></p>
    <p>Ricardo Leal: Mail-> a75411@alunos.uminho.pt--><a href="https://github.com/ricardoleal24">GitHub</a></p>

    </body>

